{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Rango</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <a href="/rango/register/">Register</a>
    <a href="/rango/login/">Login</a>
    <a href="/rango/logout/">Logout</a>

</head>
<body>
    <h1>Rango says...</h1>
    <div>
        hello world!
    </div>
    <a href="/rango/add_category/">Add a New Category</a>
    <ul>
    {% for category in categories %}
        <li>
            <a href="/rango/category/{{ category.name }}/">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
</body>
</html>